<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>vue-cli2-pro</title>
     <!-- 使用CDN加速的CSS文件，配置在config/index.js下 -->
     <!-- <% for (var i in htmlWebpackPlugin.options.css&&htmlWebpackPlugin.options.css) { %>
      <link href="<%= htmlWebpackPlugin.options.css[i] %>" rel="stylesheet">
      <% } %> -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.0.11/lib/theme-chalk/index.css">

  </head>
  <body>
    <div id="app"></div>
     <!-- 使用CDN加速的JS文件，配置在config/index.js下 -->
     <!-- <% for (var i in htmlWebpackPlugin.options.js&&htmlWebpackPlugin.options.js) { %>
      <script src="<%= htmlWebpackPlugin.options.js[i] %>"></script>
      <% } %> -->
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.3.3/vue.min.js"></script>
    <!-- <script src="https://cdn.bootcdn.net/ajax/libs/vue-router/2.3.1/vue-router.min.js"></script> -->
    <script src="https://cdn.bootcdn.net/ajax/libs/vuex/3.0.1/vuex.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.17.1/axios.min.js"></script>
    <script src="https://unpkg.com/element-ui@2.0.11/lib/index.js"></script>


    <!-- built files will be auto injected -->
  </body>
</html>
